.signup_image--container{
    background: url('https://thumbs.dreamstime.com/b/sign-up-member-icon-isolated-glossy-red-round-button-abstract-illustration-sign-up-member-icon-glossy-red-round-button-105955462.jpg');
    height:90vh;
    background-size: cover;
}

.signup_form--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
}

.login_image--container{
    background: url('https://thumbs.dreamstime.com/b/login-natural-aqua-cyan-blue-round-button-isolated-143244980.jpg');
    height: 90vh;
    background-size: cover;
}

.login_form--container{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

@media screen and(max-width:752px) {
    .login_form--container,
    .signup_image--container{
        display: none;
    }
    
}